# Pastas de cache do Python (essencial)
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
venv/
env/

# DADOS SENSÍVEIS OU PESADOS
produtosExportados2.html
produtosExportados1.html
produtosExportados.html
nao_encontrados.txt
produtos_validados.txt
automacaobanheiro.py
.env
# RESULTADOS
fotos_arapiraca_final/
fotos_validadas/
fotos_nao_validadas/

# Configurações de IDE
.vscode/
.idea/

# Drivers de Navegador
chromedriver.exe